 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 486px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 10px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 476px;
}

.u-section-1 .u-container-layout-1 {
  padding: 17px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 21px 0 -1px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  font-weight: normal;
  margin: 19px 20px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 18px 4px 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 26px 362px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -34px auto 0 245px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 479px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 45px;
    margin-right: 241px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 145px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 457px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 80px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 575px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 20px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 546px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 25px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 25px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 2px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 697px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 50px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 646px;
  }

  .u-section-1 .u-text-2 {
    font-weight: 700;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 38px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 87px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.875rem;
    margin-top: -76px;
    margin-left: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 624px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 15px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 636px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 590px;
  height: 615px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 505px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 505px;
  }

  .u-section-2 .u-image-1 {
    height: 490px;
    margin-top: 7px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 420px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 9px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 411px;
  }

  .u-section-2 .u-image-1 {
    height: 375px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 624px;
  }

  .u-section-2 .u-image-1 {
    height: 563px;
    margin-top: 46px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 402px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 393px;
  }

  .u-section-2 .u-image-1 {
    height: 354px;
    margin-top: 18px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 74px;
}

.u-section-3 .u-text-1 {
  font-weight: 900;
  margin: 11px auto 11px 0;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 567px;
}

.u-section-4 .u-image-1 {
  height: 550px;
  margin-top: 0;
  margin-bottom: 17px;
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 256px;
  }

  .u-section-4 .u-image-1 {
    height: 236px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 73px;
}

.u-section-5 .u-text-1 {
  font-weight: 900;
  margin: 9px auto 12px;
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 367px;
}

.u-section-6 .u-slider-1 {
  min-height: 331px;
  height: auto;
  width: 1020px;
  margin: 18px auto;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-6 .u-text-1 {
  font-size: 1.25rem;
  margin: 19px 0 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  width: 191px;
  margin: 39px auto 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-6 .u-text-3 {
  font-size: 1.25rem;
  margin: 57px 0 0;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  width: 191px;
  margin: 60px auto 0;
}

.u-section-6 .u-carousel-control-1 {
  width: 30px;
  height: 30px;
}

.u-section-6 .u-carousel-control-2 {
  width: 30px;
  height: 30px;
  left: auto;
  right: 0;
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-6 .u-slider-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-slider-1 {
    width: 720px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-slider-1 {
    min-height: 363px;
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-6 .u-carousel-control-1 {
    left: 9px;
    position: absolute;
    right: auto;
  }

  .u-section-6 .u-carousel-control-2 {
    top: auto;
    bottom: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-slider-1 {
    width: 340px;
  }

  .u-section-6 .u-carousel-control-1 {
    left: 7px;
    top: auto;
    bottom: 77px;
  }

  .u-section-6 .u-carousel-control-2 {
    bottom: 77px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 73px;
}

.u-section-7 .u-text-1 {
  font-weight: 900;
  margin: 11px auto;
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 980px;
}

.u-section-8 .u-text-1 {
  font-size: 1.125rem;
  margin: 7px 0 0;
}

.u-section-8 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 35px auto 0 283px;
}

.u-section-8 .u-btn-2 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: -37px 264px 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-btn-1 {
    margin-left: 83px;
  }

  .u-section-8 .u-btn-2 {
    margin-right: 64px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-8 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1163px;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 26px;
    margin-left: auto;
  }

  .u-section-8 .u-btn-2 {
    margin-top: 7px;
    margin-right: auto;
    margin-bottom: 12px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1674px;
  }

  .u-section-8 .u-btn-1 {
    font-size: 0.875rem;
    margin-top: 16px;
  }

  .u-section-8 .u-btn-2 {
    margin-top: 9px;
    margin-bottom: 9px;
  }
}