.u-section-1 .u-sheet-1 {
  min-height: 7632px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 204px;
  margin: 10px auto 0;
}

.u-section-1 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}